.main {
    background-image: url(../img/bg-price.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    &__image{
        width: 100%;
        background-image: url(../img/bg-price.svg);
        background-repeat: no-repeat;
        background-size: cover;
        }

}